@model IEnumerable<Team6CVGS.Models.Platform>

@{
    ViewData["Title"] = "Platforms";
}

<h1>Platforms</h1>

<p>
    <a asp-action="Create">Add Platform</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnglishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrenchName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrenchName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Code">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
